body {
	margin: 0;
	padding: 0;
}

.wrapper {
	height: 100%;
	height: 100vh;
	margin: 0 auto;
	display: block;
}

.full-height {
	max-height: 100vh;
}

@keyframes shakeing {
	from {
		transform: translateX(2px);
	}
	to {
		transform: translateX(-2px);
	}
}

@keyframes wobbling {
	from {
		transform: rotate(3deg);
	}
	to {
		transform: rotate(-3deg);
	}
}

@keyframes trampling {
	from {
		transform: scale(1, 1);
	}
	to {
		transform: scale(1, 0.95);
	}
}

.dog {
	* {
		transition: ease .9s;
	}
	&-muzzle {
		transform-origin: center;
	}
	&-nose {
		fill: #333E48;
	}
	&-ears {
		fill : #65513C;
		transform-origin: top;
		transform: scale(0.8, 1);
	}
	&-eyes {
		fill: #333E48;
		transform: scale(1.05, 0.85);
		transition: 6s;
		transform-origin: center;
		transition-timing-function: ease;
	}
	&-teeth {
		fill: #FADF8D;
	}
	&-mouth {
		fill: #826940;
		transform-origin: center;
	}
	&-feet {
		fill: #826940;
		transform-origin: top;
	}
	&:not(:hover) {
		.dog-mouth {
			animation: shakeing 0.5s infinite alternate;
			animation-timing-function: linear;
		}
		.dog-feet-left {
			animation: trampling .8s infinite alternate;
			animation-timing-function: linear;
		}
	}
	&:hover {
		.dog-muzzle {
			transform: translateY(12px) rotate(1.5deg);
		}
		.dog-ears {
			transform: translateY(15px) scale(1, 1.4);
		}
		.dog-eyes {
			transform: scale(2);
		}
		.dog-teeth {
			transform: translateY(25%);
		}
		.dog-mouth {
			transform: scale(1.1, 1);
		}
		.dog-ear-right-holder {
			transform-origin: top left;
			animation: wobbling 0.8s infinite alternate;
			animation-delay: .9s;
			animation-timing-function: linear;
		}
		.dog-feet {
			animation: trampling 0.2s infinite alternate;
			animation-timing-function: linear;
		}
		.dog-feet-left {
			animation-delay: .1s;
		}		
	}
}

@keyframes clock-func {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.clock {
	* {
		// transition: ease 5s;
	}
	&-hand {
		fill: #434C6D;
		&-minute-hand {
			transform-origin: bottom;
			animation: clock-func .5s infinite;
			animation-timing-function: linear;
		}
		&-hour-hand {
			transform-origin: left;
			animation: clock-func 30s infinite;
			animation-timing-function: linear;
		}
	}
	&:hover {
		.clock-hand {
			fill: #ff5100;
			animation-duration: 0s;
			&-minute-hand {
				transform-origin: bottom;
				animation-duration: .21s;
			}
			&-hour-hand {
				transform-origin: left;
				animation-duration: 1.26s;
			}
		}
	}
}